@use "sass:list";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$border-radius) {
        $border-radius: list.nth(utilities.$border-radius, $i);
        --mlt-sys-border-radius-#{$i}: #{$border-radius};
    }
}

@for $i from 1 through list.length(utilities.$border-radius) {
    .g--border-radius-#{$i} {
        border-radius: var(--mlt-sys-border-radius-#{$i}) !important;
    }
}