@use "sass:list";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$font-weights) {
        $font-weight: list.nth(utilities.$font-weights, $i);
        --mlt-sys-font-weight-#{$i}: #{$font-weight};
    }
}

@for $i from 1 through list.length(utilities.$font-weights) {
    .g--font-weight-#{$i} {
        font-weight: var(--mlt-sys-font-weight-#{$i}) !important;
    }
}