@use "sass:list";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$font-sizes) {
        $font-size: list.nth(utilities.$font-sizes, $i);
        --mlt-sys-font-size-#{$i}: #{$font-size};
    }
}

@for $i from 1 through list.length(utilities.$font-sizes) {
    .g--font-size-#{$i} {
        font-size: var(--mlt-sys-font-size-#{$i}) !important;
    }
}