@use "sass:list";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$margins) {
        $margin: list.nth(utilities.$margins, $i);
        --mlt-sys-margin-#{$i}: #{$margin};
    }
}

@for $i from 1 through list.length(utilities.$margins) {
    .g--margin-#{$i} {
        margin: var(--mlt-sys-margin-#{$i}) !important;
    }
}