@use "sass:list";
@use "../01_utilities/index" as utilities;

:root {
    @for $i from 1 through list.length(utilities.$margin-lefts) {
        $margin-left: list.nth(utilities.$margin-lefts, $i);
        --mlt-sys-margin-left-#{$i}: #{$margin-left};
    }
}

@for $i from 1 through list.length(utilities.$margin-lefts) {
    .g--margin-left-#{$i} {
        margin-left: var(--mlt-sys-margin-left-#{$i}) !important;
    }
}