<div class="c-curso-form-header">
  <h2 class="c-curso-form__title">{{ modoEdicion ? curso.title : 'Nuevo Curso' }}</h2>
  @if (modoEdicion) {
  <h3 class="c-curso-form__id">ID: {{ curso.id }}</h3>
  }
</div>

<form [formGroup]="formulario" class="c-curso-form">
  <div class="c-curso-form__group mb-3">
    <label for="title" class="c-curso-form__label">Título <span class="c-curso-form__label--asterisk">*</span></label>
    <input type="text" class="c-curso-form__input" id="title" formControlName="title">
    @if (formulario.get('title')?.invalid && formulario.get('title')?.touched) {
    <small class="c-curso-form__error">
      @if (formulario.get('title')?.errors?.['required']) {
      El título es obligatorio
      }
      @if (formulario.get('title')?.errors?.['minlength']) {
      El título debe tener al menos 3 caracteres
      }
    </small>
    }
  </div>
  <div class="c-curso-form__group mb-3">
    <label for="description" class="c-curso-form__label">Descripción <span class="c-curso-form__label--asterisk">*</span></label>
    <textarea class="c-curso-form__input" id="description" formControlName="description" rows="3"></textarea>
    @if (formulario.get('description')?.invalid && formulario.get('description')?.touched) {
    <small class="c-curso-form__error">
      @if (formulario.get('description')?.errors?.['required']) {
      La descripción es obligatoria
      }
      @if (formulario.get('description')?.errors?.['minlength']) {
      La descripción debe tener al menos 10 caracteres
      }
    </small>
    }
  </div>
  <div class="c-curso-form__row">
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="price" class="c-curso-form__label">Precio <span class="c-curso-form__label--asterisk">*</span></label>
        <input type="number" class="c-curso-form__input" id="price" formControlName="price" step="0.01">
        @if (formulario.get('price')?.invalid && formulario.get('price')?.touched) {
        <small class="c-curso-form__error">
          @if(formulario.get('price')?.value==null){El precio no puede ser nulo}
          @if (formulario.get('price')?.errors?.['min']) {
          El precio no puede ser negativo
          }
        </small>
        }

      </div>
    </div>
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="durationHours" class="c-curso-form__label">Duración (horas) <span class="c-curso-form__label--asterisk">*</span></label>
        <input type="number" class="c-curso-form__input" id="durationHours" formControlName="durationHours">
        @if (formulario.get('durationHours')?.invalid && formulario.get('durationHours')?.touched) {
        <small class="c-curso-form__error">
          @if(formulario.get('durationHours')?.value==null){La duración no puede ser nula}
          @if (formulario.get('durationHours')?.value < 0) { La duración no puede ser negativa }
            @if(formulario.get('durationHours')?.value===0) { La duración no puede ser cero } </small>
            }
      </div>
    </div>
  </div>
  <div class="c-curso-form__row">
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="language" class="c-curso-form__label">Idioma <span class="c-curso-form__label--asterisk">*</span></label>
        <select class="c-curso-form__input" id="language" formControlName="language">
          <option value="" disabled>Selecciona un idioma</option>
          @for (lang of allLanguages; track lang.id) {
          <option [value]="lang.name">{{ lang.name }}</option>
          }
        </select>
        @if (formulario.get('language')?.invalid && formulario.get('language')?.touched) {
        <small class="c-curso-form__error">
          Se debe seleccionar un idioma
        </small>
        }
      </div>
    </div>
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="level" class="c-curso-form__label">Nivel <span class="c-curso-form__label--asterisk">*</span></label>
        <select class="c-curso-form__input" id="level" formControlName="level">
          <option value="" disabled selected>Selecciona un nivel</option>
          @for (lev of allLevels; track lev.id) {
          <option [value]="lev.name">{{ lev.name }}</option>
          }
        </select>
        @if (formulario.get('level')?.invalid && formulario.get('level')?.touched) {
        <small class="c-curso-form__error">
          Se debe seleccionar un nivel
        </small>
        }
      </div>
    </div>
  </div>
  <div class="c-curso-form__group mb-3">
    <label for="teacher" class="c-curso-form__label">Nombre del Profesor <span class="c-curso-form__label--asterisk">*</span></label>
    <input type="text" class="c-curso-form__input" id="teacher" formControlName="teacher"
      placeholder="Introduce el nombre de usuario del profesor">
    @if (formulario.get('teacher')?.touched) {
    <small class="c-curso-form__error">

      @if (formulario.get('teacher')?.errors?.['required']) {
      El nombre del profesor es obligatorio
      }

      @if (
      formulario.get('teacher')?.value &&
      !checkTeacherSelection(formulario.get('teacher')?.value)
      ) {
      El nombre del profesor no existe
      }

    </small>
    }
  </div>
</form>

<div class="c-curso-form__actions">
  <button c-boton [importancia]="'warning'" (click)="onGuardar()" [disabled]="!formulario.valid">
    {{ modoEdicion ? 'Guardar Cambios' : 'Crear Curso' }}
  </button>
  <button c-boton (click)="onCancelar()">Cancelar</button>
</div>