<div class="c-curso-form-header">
  <h2 class="c-curso-form__title">{{ curso.title }}</h2>
  <h3 class="c-curso-form__id">ID: {{ curso.id }}</h3>
</div>

<form [formGroup]="formulario" class="c-curso-form">
  <div class="c-curso-form__group mb-3">
    <label for="title" class="c-curso-form__label">Título</label>
    <input type="text" class="c-curso-form__input" id="title" formControlName="title">
  </div>
  <div class="c-curso-form__group mb-3">
    <label for="description" class="c-curso-form__label">Descripción</label>
    <textarea class="c-curso-form__input" id="description" formControlName="description" rows="3"></textarea>
  </div>
  <div class="c-curso-form__row">
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="price" class="c-curso-form__label">Precio</label>
        <input type="number" class="c-curso-form__input" id="price" formControlName="price" step="0.01">
      </div>
    </div>
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="durationHours" class="c-curso-form__label">Duración (horas)</label>
        <input type="number" class="c-curso-form__input" id="durationHours" formControlName="durationHours">
      </div>
    </div>
  </div>
  <div class="c-curso-form__row">
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="language" class="c-curso-form__label">Idioma</label>
        <select class="c-curso-form__input" id="language" formControlName="language">
          <option value={{this.curso.language}}>{{this.curso.language}}</option>
          @for (lang of allLanguages; track lang.id) {
            <option [value]="lang.name">{{ lang.name }}</option>
          }
        </select>
      </div>
    </div>
    <div class="c-curso-form__col">
      <div class="c-curso-form__group mb-3">
        <label for="level" class="c-curso-form__label">Nivel</label>
        <select class="c-curso-form__input" id="level" formControlName="level">
          <option value={{this.curso.level}}>{{this.curso.level}}</option>
          @for (lev of allLevels; track lev.id) {
            <option [value]="lev.name">{{ lev.name }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="c-curso-form__group mb-3">
    <label for="teacher" class="c-curso-form__label">Profesor</label>
    <input type="text" class="c-curso-form__input" id="teacher" formControlName="teacher">
  </div>
</form>

<div class="c-curso-form__actions">
  <button c-boton [importancia]="'warning'" (click)="onGuardar()" [disabled]="!formulario.valid">Guardar Cambios</button>
  <button c-boton (click)="onCancelar()">Cancelar</button>
</div>