<header class="c-header">
    <nav class="c-header__nav">
        <div class="c-header__container">
            <a class="c-header__brand" routerLink="/">
                <img src="assets/logo.svg" alt="Logo" width="40" height="40" class="c-header__logo" />
                Speakly Admin Panel
            </a>
            <div class="c-header__links">
                <ul class="c-header__list">
                    <li class="c-header__item">
                            <button c-boton [tipo]="'underlined'" [importancia]="'secundaria'" routerLink="/">
                            Home
                            </button>
                    </li>
                    <li class="c-header__item">
                            <button c-boton [tipo]="'underlined'" [importancia]="'primaria'" routerLink="/cursos">
                            Cursos
                            </button>
                    </li>
                    <li class="c-header__item">
                            <button c-boton [tipo]="'underlined'" [importancia]="'primaria'" routerLink="/users">
                            Usuarios
                            </button>
                    </li>
                    <li class="c-header__item">
                            <button c-boton [tipo]="'underlined'" [importancia]="'secundaria'"
                                    [routerLink]="!authService.isAuthenticated() ? '/login' : '/logout'">
                                @if (!authService.isAuthenticated()) {
                                    Login
                                }@else {
                                    Logout
                                }
                            </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
