$colors:(
    primary: #0045A6,
    secondary: #FF6F61,
    alternative: #4CAF50,
);
$alternative-color: (#011819, #03282B, #05373D, #073F4B, #094C5D, #0A5770, #0B6284, #096795, #0470AE);
$secondary-color: (#773003, #AB4B03, #DA6601, #FF8B0F, #FFA83D, #FFC670, #FFDB9F, #FEF0D2, #FFFFFF);
$primary-color: (#012228, #094C5D, #156E89, #248DB7, #3DA6D6, #6EB8E2, #9ACDEF, #CCE5FA, #FFFFFF);
$paddings: (0.375rem, 0.75rem, 1rem, 1.5rem);
$font-sizes: (1rem, 1.5rem);
$font-weights: (400, 600);
$border-widths: (1px);
$border-radius: (0.375rem);
$widths: (100%);
$margin-lefts: (15px);
$gaps: (1rem);
$margins: (0);