<c-table title="Panel de cursos" [isEmpty]="courses.length === 0">
    <div c-table-filters class="cursos__toolbar">
        <div class="cursos__filters">
            <div class="cursos__filter">
                <label for="languageSelect" class="cursos__label">Idioma:</label>
                <select id="languageSelect" class="cursos__select" (change)="onLanguageChange($event)">
                    <option value="All">All</option>
                    @for (language of languages; track $index) {
                    <option [value]="language.name">{{ language.name }}</option>
                    }
                </select>
            </div>

            <div class="cursos__filter">
                <label for="levelSelect" class="cursos__label">Nivel:</label>
                <select id="levelSelect" class="cursos__select" (change)="onLevelChange($event)">
                    <option value="All">All</option>
                    @for (level of levels; track $index) {
                    <option [value]="level.name">{{ level.name }}</option>
                    }
                </select>
            </div>
        </div>

        <div class="cursos__results">
            Resultados: <strong>{{ courses.length }}</strong>
        </div>
    </div>

    <button c-table-actions c-boton [importancia]="'primaria'" (click)="nuevoCurso()">
        <i class="bi bi-plus-circle"></i>
        Nuevo curso
    </button>

    <tr c-table-header>
        <th class="cursos__type-header cursos__type-header--center">ID</th>
        <th class="cursos__type-header">Título</th>
        <th class="cursos__type-header">Precio</th>
        <th class="cursos__type-header">Idioma</th>
        <th class="cursos__type-header">Nivel</th>
        <th class="cursos__type-header">Duración</th>
        <th class="cursos__type-header">Profesor</th>
        <th class="cursos__type-header">Fecha Creación</th>
        <th class="cursos__type-header cursos__type-header--center">Borrar</th>
    </tr>

    <ng-container c-table-body>
        @for (curso of courses; track curso.id) {
        <tr>
            <td class="cursos__type-cell cursos__type-cell--center">{{ curso.id }}</td>
            <td class="cursos__semibold g--padding-6">
                <span (click)="modificarCurso(curso.id)" class="cursos__clickable">
                    {{ curso.title }}
                </span>
            </td>
            <td class="cursos__type-cell"><span c-tag="precio">{{ curso.price }}</span></td>
            <td class="cursos__type-cell">{{ curso.language }}</td>
            <td class="cursos__type-cell"><span c-tag>{{ curso.level }}</span></td>
            <td class="cursos__type-cell">{{ curso.duration }} horas</td>
            <td class="cursos__type-cell">{{ curso.teacher.username }}</td>
            <td class="cursos__type-cell">{{ curso.createdAt | date:'dd/MM/yyyy' }}</td>
            <td class="cursos__type-cell cursos__type-cell--center">
                <button c-boton importancia="danger" (click)="borrarCurso(curso.id)">
                    Borrar Curso
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
        }
    </ng-container>

    <div c-table-empty>
        <strong>No se han encontrado cursos</strong>
    </div>

</c-table>