<div class="c-user-card">
  <div class="c-user-card__header">
    <h2 class="c-user-card__title">{{ user.username }}</h2>
    <h3 class="c-user-card__id">ID: {{ user.id }}</h3>
  </div>

  <div class="c-user-card__content">
    <div class="c-user-card__details">
      <p class="c-user-card__detail">
        <span class="c-user-card__label">Email:</span> {{ user.email }}
      </p>
      <p class="c-user-card__detail">
        <span class="c-user-card__label">Rol:</span> {{ user.role }}
      </p>
      <p class="c-user-card__detail">
        <span class="c-user-card__label">Foto de perfil:</span> {{ user.profilePictureUrl || 'Sin foto' }}
      </p>
      <p class="c-user-card__detail">
        <span class="c-user-card__label">Creado el:</span> {{ user.createdAt | date:'short' }}
      </p>
    </div>
  </div>
</div>
