<div class="c-table">
    <h3 class="c-table__title">{{ title }}</h3>

    <div class="c-table__table-wrap" role="region" aria-label="{{ title }}">
        <table class="c-table__table">
            <thead class="c-table__thead">

                @if (showFilters) {
                <tr class="c-table__filters-row">
                    <th colspan="100" class="c-table__block-cell">
                        <ng-content select="[c-table-filters]"></ng-content>
                    </th>
                </tr>
                }

                @if (showActions) {
                <tr class="c-table__actions-row">
                    <th colspan="100" class="c-table__block-cell">
                        <div class="c-table__actions-wrap">
                            <ng-content select="[c-table-actions]"></ng-content>
                        </div>
                    </th>
                </tr>
                }

                <ng-content select="tr[c-table-header]"></ng-content>

            </thead>

            <tbody class="c-table__tbody">

                <ng-content select="[c-table-body]"></ng-content>

                @if (isEmpty) {
                <tr class="c-table__empty-row ">
                    <td colspan="100" class="c-table__empty-cell">
                        <ng-content select="[c-table-empty]"></ng-content>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>