.users {
  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--mlt-sys-gap-16);
  }

  &__filters {
    display: flex;
    gap: var(--mlt-sys-gap-16);
    align-items: center;
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: var(--mlt-sys-gap-8);
  }

  &__label {
    font-weight: var(--mlt-sys-font-weight-600);
    font-size: var(--mlt-sys-font-size-16);
  }

  &__select {
    padding: var(--mlt-sys-padding-6) var(--mlt-sys-padding-12);
    border: 1px solid var(--mlt-sys-primary-color-2);
    border-radius: var(--mlt-sys-border-radius-4);
    font-size: var(--mlt-sys-font-size-14);
  }

  &__results {
    font-size: var(--mlt-sys-font-size-14);
  }

  &__semibold {
    font-weight: var(--mlt-sys-font-weight-600);
  }

  &__clickable {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  &__clickable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: var(--mlt-sys-width-100p);
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
    pointer-events: none;
  }

  &__clickable:hover {
    color: var(--mlt-sys-alternative-color-5);
  }

  &__clickable:active {
    color: var(--mlt-sys-alternative-color-5);
  }

  &__clickable:focus-visible {
    color: var(--mlt-sys-alternative-color-5);
    outline: none;
  }

  &__clickable:hover::after,
  &__clickable:focus-visible::after,
  &__clickable:active::after {
    transform: translateX(-50%) scaleX(1);
  }

  &__type-header {
    padding: var(--mlt-sys-padding-6);
    font-weight: var(--mlt-sys-font-weight-600);

    &--center {
      text-align: center;
    }
  }

  &__type-cell {
    padding: var(--mlt-sys-padding-6);
    text-align: left;
    &--center {
      text-align: center;
    }
  }
}

:host ::ng-deep c-table .c-table__tbody>tr:hover>td {
  background: color-mix(in srgb, var(--mlt-sys-primary-color-5) 18%, white);
}